<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/header.ejs") %>
</head>

<body>
  <div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <%- include("../partials/spinner.ejs") %>
      <!-- Spinner End -->


      <!-- Sidebar Start -->
      <%- include("../partials/sidebar.ejs") %>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
          <!-- Navbar Start -->
          <%- include("../partials/navbar.ejs") %>
            <!-- Navbar End -->


            <!-- Chart Start -->
            <div class="container-fluid pt-4 px-4">
              <div class="row g-4">
                <div class="col-sm-12 col-xl-6">
                  <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Single Line Chart</h6>
                    <canvas id="line-chart"></canvas>
                  </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                  <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Multiple Line Chart</h6>
                    <canvas id="salse-revenue"></canvas>
                  </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                  <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Single Bar Chart</h6>
                    <canvas id="bar-chart"></canvas>
                  </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                  <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Multiple Bar Chart</h6>
                    <canvas id="worldwide-sales"></canvas>
                  </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                  <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Pie Chart</h6>
                    <canvas id="pie-chart"></canvas>
                  </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                  <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Doughnut Chart</h6>
                    <canvas id="doughnut-chart"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <!-- Chart End -->


            <!-- Footer Start -->
            <%- include("../partials/footer.ejs") %>
              <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
  </div>

  <!-- JavaScript Libraries -->
  <%- include("../partials/jslib.ejs") %>

    <!-- Template Javascript -->
    <%- include("../partials/template.ejs") %>
</body>

</html>