<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DOM XSS</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/editor.css">
</head>

<body>
  <script type="text/javascript">
    let URLS = [];
    URLS[0] = "https://www.example.com/"

<%= (typeof url !== 'undefined') ? console.log('si') : console.log('no') %>

  </script>
  
<!--<% if(typeof url !=='undefined' ) { for (var element in url) { %>
    <% var toadd=JSON.stringify(url[element]) %>
      <script>URLS.push(<%- toadd %>)</script>
      <% } } else { %>
        <script> URLS[0] = "https://www.example.com/" </script>
        <% } %>-->
          <script> console.log(URLS) </script>
          <div class="main-editor container">
            <div class="editor">
              <h2 id="top_nav">
                <ul>
                  <li>
                    <a href="#">
                      <span id="title">
                        . . .
                      </span>
                    </a>
                    <ul>
                      <% for(var element in url) {%>
                        <li><a href="#" onclick="setActive(<%= element %>)">
                            <%= url[element] %>
                          </a></li>
                        <% } %>
                    </ul>
                  </li>
                </ul>
              </h2>

              <% if (typeof url !=='undefined' ) { for(var element in url) { %>
                <pre class="" contenteditable="false" spellcheck="false"></pre>
                <% } } else { %>
                  <pre class="" contenteditable="false" spellcheck="false"></pre>
                  <% } %>

            </div>

            <!--<% if (typeof url !== 'undefined') { for(var element in url) { %>
      <iframe class="" src="<%=url[element]%>"></iframe>
      <% } } else { %>
        <iframe class="" src="<%=url[element]%>"></iframe>
        <% } %>-->
          </div>

          <script>
            const iframes = document.getElementsByTagName("iframe")
            const pres = document.getElementsByTagName("pre")
            const title = document.getElementById("title")

            document.addEventListener("DOMContentLoaded", function () {
              var x = iframes[0]
              if (typeof x == 'undefined' || window.getComputedStyle(x).style.display === "none") {
                document.getElementsByClassName("editor")[0].style.width = "100%";
                document.getElementsByClassName("editor")[0].style.display = "block";
              }
            })
          </script>
          <script type="text/javascript" src="../js/setActive.js"></script>
          <script type="text/javascript" src="../js/workersHandler.js"></script>

</body>

</html>