<!DOCTYPE html>
<html lang="it-IT">

<head>
  <%- include("../partials/header.ejs") %>
</head>

<body>
  <div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <%- include("../partials/spinner.ejs") %>
      <!-- Spinner End -->

      <!-- Sidebar Start -->
      <%- include("../partials/sidebar.ejs") %>
        <!-- Sidebar End -->

        <!-- Content Start -->
        <div class="content">
          <!-- Navbar Start -->
          <%- include("../partials/navbar.ejs") %>
            <!-- Navbar End -->

            <form>
              <!-- Form Start -->
              <div class="container-fluid pt-4 px-4">
                <div class="row g-4">

                  <h1 class="mb-4">Generate Report</h1>

                  <div class="pg-bar mb-3">
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped bg-success scanProgressBar" role="progressbar"
                        aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>

                  <div class="col-sm-12 col-xl-6">
                    <div class="bg-secondary rounded h-100 p-4">
                      <div class="mb-3">
                        <label for="url" class="form-label">
                          <h2>URL</h2>
                        </label>
                        <input type="text" class="form-control" name="url" id="url" aria-describedby="url"
                          value="<%-url%>" readonly="readonly">
                        <div id="emailHelp" class="form-text">This is the target we are currently scanning
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12 col-xl-6">
                    <div class="bg-secondary rounded h-100 p-4">
                      <label for="txthtml">
                        <h2 class="mb-4">HTML</h2>
                      </label>
                      <textarea name="html" id="txthtml" style="width: 100%" rows="10"></textarea>
                      <button type="button" class="btn btn-outline-info m-2" id="copyBtn" disabled><i
                          class="fa fa-copy"></i> Copy</button>
                      <button type="button" class="btn btn-outline-info m-2" id="downloadBtn" disabled><i
                          class="fa fa-download"></i> Download</button>
                      <button type="button" class="btn btn-outline-info m-2" id="viewBtn" disabled><i
                          class="fa fa-window-restore"></i> Open in new tab</button>
                      <script>
                        //copy button
                        document.getElementById("copyBtn").addEventListener('click', () => {
                          document.getElementById("txthtml").select()
                          document.execCommand('copy')
                        })
                        //download button
                        //open in new tab button
                      </script>
                    </div>
                  </div>

                  <!-- Position Start -->
                  <div class="col-sm-12 col-xl-6">
                    <div class="bg-secondary rounded h-100 p-4">

                      <h1 class="mb-4">IP-API</h1>
                      <!-- Description List Start -->
                      <dl class="row mb-0">
                        <dt class="col-sm-3">Query</dt>
                        <dd class="col-sm-9" id="apiQuery"></dd>

                        <dt class="col-sm-3">Status</dt>
                        <dd class="col-sm-9" id="apiStatus"></dd>

                        <dt class="col-sm-3">Country (CountryCode)</dt>
                        <dd class="col-sm-9">
                          <dl class="row">
                            <dt class="col-sm-4" id="apiCountry"></dt>
                            <dd class="col-sm-8" id="apiCountryCode"></dd>
                          </dl>
                        </dd>

                        <dt class="col-sm-3">Region</dt>
                        <dd class="col-sm-9" id="apiRegion"></dd>

                        <dt class="col-sm-3">Region Name</dt>
                        <dd class="col-sm-9" id="apiRegionName"></dd>

                        <dt class="col-sm-3">City</dt>
                        <dd class="col-sm-9" id="apiCity"></dd>

                        <dt class="col-sm-3">Zip</dt>
                        <dd class="col-sm-9" id="apiZip"></dd>

                        <dt class="col-sm-3">Lat</dt>
                        <dd class="col-sm-9" id="apiLat"></dd>

                        <dt class="col-sm-3">Lon</dt>
                        <dd class="col-sm-9" id="apiLon"></dd>

                        <dt class="col-sm-3">Timezone</dt>
                        <dd class="col-sm-9" id="apiTimezone"></dd>

                        <dt class="col-sm-3">ISP</dt>
                        <dd class="col-sm-9" id="apiIsp"></dd>

                        <dt class="col-sm-3">Org</dt>
                        <dd class="col-sm-9" id="apiOrg"></dd>

                        <dt class="col-sm-3">As</dt>
                        <dd class="col-sm-9" id="apiAs"></dd>
                      </dl>
                      <!-- Description List End -->

                    </div>
                  </div>
                  <!--
                  <div class="col-sm-12 col-xl-6">
                    <div class="bg-secondary rounded h-100 p-4">
                      <iframe src="" class="position-relative rounded w-100 h-100" id="map" title="map" frameborder="0"
                        allowfullscreen="" aria-hidden="false" tabindex="0"
                        style="filter: grayscale(100%) invert(92%) contrast(83%); border: 0; min-height: 400px;"></iframe>
                    </div>
                  </div>
                  -->
                  <!-- Position End -->

                  <div class="col-sm-12 col-xl-6">
                    <div class="bg-secondary rounded h-100 p-4">
                      <h1 class="mb-4">What has been analyzed</h1>
                      <dl class="row mb-0">
                        <!--
                        <dt class="col-sm-3">Pattern-Sources</dt>
                        <dd class="col-sm-9">
                          <dl id="pattern-sources">
                          </dl>
                        </dd>
                        -->
                        <dt class="col-sm-3">Pattern-Sinks</dt>
                        <dd class="col-sm-9">
                          <dl id="pattern-sinks">
                          </dl>
                        </dd>
                      </dl>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="bg-secondary rounded h-100 p-4">
                      <h1>What has been found</h1>
                      <div class="accordion accordion-flush" id="accordionFlushExample">
                        <!--<div class="accordion-item bg-transparent">
                          <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                              data-bs-target="#flush-collapseOne" aria-expanded="true"
                              aria-controls="flush-collapseOne">
                              Accordion Item #1
                            </button>
                          </h2>
                          <div id="flush-collapseOne" class="accordion-collapse collapse show"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                              Lorem et ea ea consetetur voluptua duo et aliquyam sanctus sit. Et dolore at erat amet et
                              diam
                              labore lorem dolores. Erat amet stet at dolore dolor ea invidunt, justo nonumy justo
                              takimata
                              magna. Stet lorem vero sed eos justo diam dolores, dolor sit takimata et voluptua aliquyam
                              gubergren tempor.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item bg-transparent">
                          <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#flush-collapseTwo" aria-expanded="false"
                              aria-controls="flush-collapseTwo">
                              Accordion Item #2
                            </button>
                          </h2>
                          <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                              Sea diam dolore aliquyam aliquyam diam et consetetur et. Accusam amet no invidunt invidunt
                              et
                              consetetur, magna ut nonumy kasd erat tempor dolor et. Diam magna dolor sed amet duo
                              dolores
                              magna
                              vero. Amet sit sadipscing ea diam clita lorem sit. Vero et et et tempor diam. Ipsum eirmod
                              sit.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item bg-transparent">
                          <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#flush-collapseThree" aria-expanded="false"
                              aria-controls="flush-collapseThree">
                              Accordion Item #3
                            </button>
                          </h2>
                          <div id="flush-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                              Sea sea sit sanctus magna gubergren kasd, magna justo ea lorem lorem. Elitr aliquyam ipsum
                              clita
                              consetetur duo at nonumy invidunt, invidunt eos dolore vero sit amet amet magna tempor
                              clita,
                              takimata diam justo stet erat et vero erat. Sit ipsum eirmod sea ut vero dolores sea clita
                              nonumy,
                              no.
                            </div>
                          </div>
                        </div>-->
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-xl-6">
                    <div class="m-n2">
                      <button type="button" class="btn btn-outline-warning m-2" id="newrepBtn">Generate Report</button>
                    </div>
                  </div>

                </div>
              </div>
              <!-- Form End -->
              <script src="../../public/js/ipApi.js"></script>
              <script src="../../public/js/newrepHandler.js"></script>
              <script src="../../public/js/scanHTML.js"></script>
            </form>

            <!-- Footer Start -->
            <%- include("../partials/footer.ejs") %>
              <!-- Footer End -->
        </div>
        <!-- Content End -->

        <!-- Back to Top -->
        <%- include("../partials/arrowup.ejs") %>
  </div>

  <!-- JavaScript Libraries -->
  <%- include("../partials/jslib.ejs") %>
    <!-- Template Javascript -->
    <%- include("../partials/template.ejs") %>
</body>

</html>