<!DOCTYPE html>
<html lang="it-IT">

<head>
  <%- include("../partials/header.ejs") %>
</head>

<body>
  <div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <%- include("../partials/spinner.ejs") %>
      <!-- Spinner End -->


      <!-- Sidebar Start -->
      <%- include("../partials/sidebar.ejs") %>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
          <!-- Navbar Start -->
          <%- include("../partials/navbar.ejs") %>
            <!-- Navbar End -->


            <div class="container-fluid pt-4 px-4">
              <div class="row g-4">

                <% if(typeof url !=='undefined' ){ %>

                  <% for(var i=0; i < url.length; i++) { %>
                    <div class="col-sm-12 col-xl-6">
                      <div class="bg-secondary rounded h-100 p-4">
                        <form action="newreport.ejs" target="_blank" method="post">
                          <h1>
                            <%-url[i]%>
                          </h1> <br />
                          <div class="pg-bar mb-3">
                            <div class="progress">
                              <div class="progress-bar progress-bar-striped bg-success scanProgressBar"
                                role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                          <div class="m-n2">
                            <input type="hidden" name="hiddenUrls" value="<%-url[i]%>">
                            <button type="button" class="btn btn-outline-warning m-2 scanBtn" disabled
                              onclick="submit()">Pinging server</button>
                        </form>
                      </div>
                    </div>
              </div>

              <% } %>

                <script src="../../public/js/pingWorkersHandler.js"></script>

                <% } else { %>

                  <div class="col-sm-12 col-xl-6">
                    <div class="bg-secondary rounded h-100 p-4">
                      <div class="alert alert-warning" role="alert">
                        <i class="fa fa-exclamation-circle me-2"></i>Ricordati di inserire degli url validi nel <a
                          href="/input.ejs">form</a>
                      </div>
                    </div>
                  </div>

                  <% } %>

            </div>
        </div>

        <!-- Footer Start -->
        <%- include("../partials/footer.ejs") %>
          <!-- Footer End -->
  </div>
  <!-- Content End -->


  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
  </div>

  <!-- JavaScript Libraries -->
  <%- include("../partials/jslib.ejs") %>

    <!-- Template Javascript -->
    <%- include("../partials/template.ejs") %>
</body>

</html>