<!DOCTYPE html>
<html lang="it-IT">

<head>
  <%- include("../partials/header.ejs") %>
</head>

<body>
  <div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <%- include("../partials/spinner.ejs") %>
      <!-- Spinner End -->

      <!-- Sidebar Start -->
      <%- include("../partials/sidebar.ejs") %>
        <!-- Sidebar End -->

        <!-- Content Start -->
        <div class="content">

          <!-- Navbar Start -->
          <%- include("../partials/navbar.ejs") %>
            <!-- Navbar End -->

            <!-- Blank Start -->
            <div class="container-fluid pt-4 px-4">
              <div class="row g-4">

                <!-- Description List Start -->
                <div class="col-sm-12 col-xl-6">
                  <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Description List</h6>
                    <dl class="row mb-0">
                      <dt class="col-sm-4">Description lists</dt>
                      <dd class="col-sm-8">A description list is perfect for defining terms.</dd>

                      <dt class="col-sm-4">Term</dt>
                      <dd class="col-sm-8">Definition for the term.</dd>

                      <dt class="col-sm-4">Another term</dt>
                      <dd class="col-sm-8">This definition is short, so no extra paragraphs or anything.</dd>

                      <dt class="col-sm-4 text-truncate">Truncated term is truncated</dt>
                      <dd class="col-sm-8">This can be useful when space is tight. Adds an ellipsis at the
                        end.</dd>

                      <dt class="col-sm-4">Nesting</dt>
                      <dd class="col-sm-8">
                        <dl class="row">
                          <dt class="col-sm-4">Nested list</dt>
                          <dd class="col-sm-8">Nested definition list.</dd>
                        </dl>
                      </dd>
                    </dl>
                  </div>
                </div>
                <!-- Description List End -->

                <!-- Description List Start -->
                <div class="col-sm-12 col-xl-6">
                  <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Description List</h6>
                    <dl class="row mb-0">
                      <dt class="col-sm-4">Description lists</dt>
                      <dd class="col-sm-8">A description list is perfect for defining terms.</dd>

                      <dt class="col-sm-4">Term</dt>
                      <dd class="col-sm-8">Definition for the term.</dd>

                      <dt class="col-sm-4">Another term</dt>
                      <dd class="col-sm-8">This definition is short, so no extra paragraphs or anything.</dd>

                      <dt class="col-sm-4 text-truncate">Truncated term is truncated</dt>
                      <dd class="col-sm-8">This can be useful when space is tight. Adds an ellipsis at the
                        end.</dd>

                      <dt class="col-sm-4">Nesting</dt>
                      <dd class="col-sm-8">
                        <dl class="row">
                          <dt class="col-sm-4">Nested list</dt>
                          <dd class="col-sm-8">Nested definition list.</dd>
                        </dl>
                      </dd>
                    </dl>
                  </div>
                </div>
                <!-- Description List End -->

                <!-- Description List Start -->
                <div class="col-sm-12 col-xl-6">
                  <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Description List</h6>
                    <dl class="row mb-0">
                      <dt class="col-sm-4">Description lists</dt>
                      <dd class="col-sm-8">A description list is perfect for defining terms.</dd>

                      <dt class="col-sm-4">Term</dt>
                      <dd class="col-sm-8">Definition for the term.</dd>

                      <dt class="col-sm-4">Another term</dt>
                      <dd class="col-sm-8">This definition is short, so no extra paragraphs or anything.</dd>

                      <dt class="col-sm-4 text-truncate">Truncated term is truncated</dt>
                      <dd class="col-sm-8">This can be useful when space is tight. Adds an ellipsis at the
                        end.</dd>

                      <dt class="col-sm-4">Nesting</dt>
                      <dd class="col-sm-8">
                        <dl class="row">
                          <dt class="col-sm-4">Nested list</dt>
                          <dd class="col-sm-8">Nested definition list.</dd>
                        </dl>
                      </dd>
                    </dl>
                  </div>
                </div>
                <!-- Description List End -->

                <!-- Description List Start -->
                <div class="col-sm-12 col-xl-6">
                  <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Description List</h6>
                    <dl class="row mb-0">
                      <dt class="col-sm-4">Description lists</dt>
                      <dd class="col-sm-8">A description list is perfect for defining terms.</dd>

                      <dt class="col-sm-4">Term</dt>
                      <dd class="col-sm-8">Definition for the term.</dd>

                      <dt class="col-sm-4">Another term</dt>
                      <dd class="col-sm-8">This definition is short, so no extra paragraphs or anything.</dd>

                      <dt class="col-sm-4 text-truncate">Truncated term is truncated</dt>
                      <dd class="col-sm-8">This can be useful when space is tight. Adds an ellipsis at the
                        end.</dd>

                      <dt class="col-sm-4">Nesting</dt>
                      <dd class="col-sm-8">
                        <dl class="row">
                          <dt class="col-sm-4">Nested list</dt>
                          <dd class="col-sm-8">Nested definition list.</dd>
                        </dl>
                      </dd>
                    </dl>
                  </div>
                </div>
                <!-- Description List End -->

                <!-- Description List Start -->
                <div class="col-sm-12 col-xl-6">
                  <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Description List</h6>
                    <dl class="row mb-0">
                      <dt class="col-sm-4">Description lists</dt>
                      <dd class="col-sm-8">A description list is perfect for defining terms.</dd>

                      <dt class="col-sm-4">Term</dt>
                      <dd class="col-sm-8">Definition for the term.</dd>

                      <dt class="col-sm-4">Another term</dt>
                      <dd class="col-sm-8">This definition is short, so no extra paragraphs or anything.</dd>

                      <dt class="col-sm-4 text-truncate">Truncated term is truncated</dt>
                      <dd class="col-sm-8">This can be useful when space is tight. Adds an ellipsis at the
                        end.</dd>

                      <dt class="col-sm-4">Nesting</dt>
                      <dd class="col-sm-8">
                        <dl class="row">
                          <dt class="col-sm-4">Nested list</dt>
                          <dd class="col-sm-8">Nested definition list.</dd>
                        </dl>
                      </dd>
                    </dl>
                  </div>
                </div>
                <!-- Description List End -->
              
              </div>
            </div>
            <!-- Blank End -->


            <!-- Footer Start -->
            <%- include("../partials/footer.ejs") %>
              <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <%- include("../partials/arrowup.ejs") %>
  </div>

  <!-- JavaScript Libraries -->
  <%- include("../partials/jslib.ejs") %>
    <!-- Template Javascript -->
    <%- include("../partials/template.ejs") %>
</body>

</html>