<!DOCTYPE html>
<html lang="it-IT">

<head>
  <%- include("../partials/header.ejs") %>
  <link rel="stylesheet" href="../../public/css/jsonformatted.css">
</head>

<body>
  <div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <%- include("../partials/spinner.ejs") %>
      <!-- Spinner End -->

      <!-- Sidebar Start -->
      <%- include("../partials/sidebar.ejs") %>
        <!-- Sidebar End -->

        <!-- Content Start -->
        <div class="content">

          <!-- Navbar Start -->
          <%- include("../partials/navbar.ejs") %>
            <!-- Navbar End -->

            <!-- Blank Start -->
            <div class="container-fluid pt-4 px-4">
              <div class="row g-4" id="resultsContainer">
                <script src="../../public/js/reports.js"></script>
              </div>
            </div>
            <!-- Blank End -->

            <!-- Footer Start -->
            <%- include("../partials/footer.ejs") %>
              <!-- Footer End -->
        </div>
        <!-- Content End -->

        <!-- Back to Top -->
        <%- include("../partials/arrowup.ejs") %>
  </div>

  <!-- JavaScript Libraries -->
  <%- include("../partials/jslib.ejs") %>
    <!-- Template Javascript -->
    <%- include("../partials/template.ejs") %>
</body>

</html>